
.sign-up-container {
    margin-bottom: 50px;
    width: 600px;
}

.sign-up-container .submit-btn {
    background-color: #E7898A;
    color: white;
  }

.sign-up-container .submit-btn:hover {
  color: inherit;
}

h1 {
  text-shadow: 1px 1px white;
}
