// .white_title{
//   color: white;
// }

.home-page .container-title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.home-page {
  .container-title {
    display: flex;
    margin-top: 100px;
  }
    h1 {font-weight: bold;
      font-size: 150px;
      color:#661F1F;
      font-family: Impact, Charcoal, sans-serif;
  }
    h2 {
      font-size: 150px;
      color: white;
      text-shadow: 1px 1px 2px grey;
      font-family: Impact, Charcoal, sans-serif;
    }
}

    // h2{
    //   color:#D67D7D;}

// .white_title {
//   font-size: 300px;
// }
// Specific CSS for your home-page
