<%= simple_form_for([band, jam_session], remote: true) do |f| %>
  <ul class="list-inline">
    <li><%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "Select date", label: false %></li>
    <li><%= f.submit "Connect", class:"connect-btn btn btn-success" %></li>
  </ul>
<% end %>
