<!-- This is just a basic display -->
<center>
 <div class="container" >
    <div class="row">
      <h1><%= @user.name %></h1>
      <h3>Musician</h3>
      <h3><%= @user.genre %></h3>
      <h4>Shibuya area</h4>
      <br></br>
    </div>
    <div class="row">
      <% if @user.description.empty? %>
      <p>No Description.</p>
      <% else %>
      <p><%= @user.description %></p>
      <% end %>
    </div>
  </div>
</center>


