<!-- This is just a basic display -->
<center>
 <div class="container" >
    <div class="row">
      <h1><%= @band.name %></h1>
      <h3>Band</h3>
      <h3><%= @band.genre %></h3>
      <h4>Shibuya area</h4>
      <br></br>
    </div>
    <div class="row">
      <% if @band.description.empty? %>
        <p>No Description.</p>
      <% else %>
        <p><%= @band.description %></p>
      <% end %>
    </div>
  </div>
</center>


